
@import './config';

@media(max-width: $mobile) {


    .Container{
        position: relative;

        .Header-block{
            width: 100%;
            height: auto;
            padding: 5px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .Title-date{

                line-height: 15px;

                h1{
                    margin-bottom: 5px;
                    color: var(--primary-color);
                    font-size: 23px;
                }
                span{
                    margin-left: 5px;
                    color: var(--complete-color);
                    font-size: 10px;
                }
            }
    
            .search-bar{
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 3px;
                position: relative;
    
                button{
                    padding: 12px 13px;
                    margin-right: 5px;
    
                    i{
                        font-size: 13px;
                        color: var(--delete-color);
                    }
                }
    
                .search-form{
                    width: 100px;
                    padding: 7px 15px;

                    i{
                        font-size: 12px;
                    }
    
                    input{
                        width: 100%;
                        padding: 7px 5px;
                        font-size: 12px;
                    }
                    input::placeholder{
                        font-size: 11px;
                    }
                }
            }
        }

        .Contents{
            width: 100%;
            padding: 0px 15px;
            margin-top: 20px;
        }
    }

  }


  @media (max-width: $tablette) and (min-width: 481px){

    .Container{
       position: relative;
       padding: 10px 30px;
    
        .Header-block{
            width: 100%;
            height: auto;
            padding: 20px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .Title-date{
                h1{
                    margin-bottom: 5px;
                    color: var(--primary-color);
                    font-size: 40px;
                }
                span{
                    margin-left: 5px;
                    color: var(--complete-color);
                    font-size: 15px;
                }
            }
    
            .search-bar{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 30px;
                position: relative;
    
                button{
                    padding: 16px 17px;
                    background-color: var(--medium-color);
                    border-radius: 50%;
                    margin-right: 20px;
                    border: none;
                    cursor: pointer;
    
                    i{
                        font-size: 17px;
                        color: var(--delete-color);
                    }
                }
    
                .search-form{
                    width: auto;
                    height: auto;
                    position: relative;
                    padding: 5px 15px;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    background-color: var(--theme-secondary-color);
                    color: var(--text-normal);
    
                    i{
                        color: var(--text-normal);
                    }
    
                }
            }
        }
    
        .Contents{
            width: 100%;
            height: auto;
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 20px;
            flex-direction: column;
            padding: 0 30px;
    
    
            ul{
                
                width: 100%;
                height: auto;
    
                li{
                    width: inherit;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px 25px;
                    background-color: var(--medium-color);
                    margin-top: 10px;
                    border-radius: 5px;
                    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
    
                    .complete{
                        cursor: pointer;
                        transition: all .7s ease-in-out;
                        color: var(--task-content);
                    }
    
                    .complete.active{
                        text-decoration: line-through;
                        color: var(--complete-color);
                    }
    
                    button{
                        border: none;
                        padding: 10px 12px;
                        cursor: pointer;
                        background-color: transparent;
    
                        i{
                            font-size: 15px;
                            pointer-events: none;
                            color: var(--delete-color);
                        }
                    }
                }
                
            }
    
            .Add-form{
                width: 100%;
                height: auto;
                position: relative;
                margin-top: 20px;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 10px 0;
    
                label{
                    font-size: 25px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    color: var(--title);
                }
    
                .inpValue{
                    width: 80%;
                    padding: 13px 20px;
                    outline: none;
                    border: 2px solid var(--theme-secondary-color);
                    border-radius: 3px;
                    font-family: inherit;
                    font-size: 15px;
                    background-color: var(--medium-color);
                    color: var(--title);
    
                }
    
                .inputFields{
    
                    width: inherit;
                    height: auto;
                    position: relative;
                    display: flex;
                    align-items: center;
    
                    .inpValue::placeholder{
                        font-family: $family;
                        font-size: 15px;
                        color: var(--complete-color);
                    }
        
                    .submit{
                        width: 18%;
                        margin-left: 15px;
                        padding: 14px 20px;
                        background-color: var(--theme-secondary-color);
                        color: var(--text-normal);
                        outline: none;
                        border: none;
                        cursor: pointer;
                        border-radius: 3px;
                        font-family: $family;
    
                    }
                }
                
            }
    
        }
    
    }

  }